---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<nav>
  <ul>
    {% for post in site.portfolio %}
    <li><a href="#portfolio-{{ forloop.index }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for post in site.portfolio %}
<div id="portfolio-{{ forloop.index }}">
</div>
{% endfor %}

{% for post in site.portfolio %}
{% include archive-single.html %}
{% endfor %}

<script>
  window.onload = function () {
    window.scrollTo(0, 0);
  };
</script>