<!-- ---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<ul>
  {% for post in site.portfolio %}
  <li><a href="#portfolio-{{ forloop.index0 }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

{% for post in site.portfolio %}
<div id="portfolio-{{ forloop.index0 }}">
  {% include archive-single.html %}
</div>
{% endfor %}